@namespace CarbonBlazor
@inherits BaseComponent

<li
    class="@_mapper.Class"
    role="tab">
    <a
        type="button"
        role="tab"
        class="cb--tabs__nav-link"
        @onclick="Select">
        @Label
    </a>
</li>