@namespace CarbonBlazor
@inherits BaseComponent

<li class="@_mapper.Class">
    <button 
        class="cb--overflow-menu-options__btn" 
        role="menuitem"
        @onclick="OnItemClick">
    <span class="cb--overflow-menu-options__option-content">
        @Label
    </span>
    </button>
</li>
  